.board {
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.square {
  height: 100px;
  width: 100px;
  padding: 10px;
  display: grid;
  border: 1px solid black;
  place-items: center;
  font-size: 60px;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}